.container {
  background: #fff;
  padding: 30px;
  width: 400px;
  margin: 0 auto;
  border-radius: 12px;
  font-family: "Pretendard", sans-serif;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
 
  color: #555;
}

.subtitle {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 25px;
  font-style: italic;
}

.formGroup {
  margin-bottom: 20px;
}

.label {
  font-size: 0.95rem;
  margin-bottom: 6px;
  display: block;
  color: #333;
}

.inputWrapper {
  position: relative;
}

.input {
  width: 90%;
  padding: 10px 40px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.eyeButton {
  position: absolute;
  right: 0px;
  top: 55%;
  transform: translateY(-55%);
  background: none;
  border: none;
  cursor: pointer;
  color: #888;
}

.submitButton {
  width: 100%;
  padding: 12px;
  background-color: #3b5bdb;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #3346b0;
}
