/* src/components/Header/Header.module.css */
.header {
  position: fixed; /* 헤더를 상단에 고정 */
  top: 0;
  left: 0;
  width: 100%; /* 전체 너비 사용 */
  padding: 15px 20px;
  background-color: #282c34;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.header-content {
  display: flex;
  align-items: center;
  margin-left: auto; /* 오른쪽 정렬 */
  margin-right: 50px;
  gap: 10px; /* 요소 간 간격 */
}

.time-remaining {
  margin-right: 20px;
  font-weight: bold;
}

.logout-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-button:hover {
  background-color: #d32f2f;
}
