/* src/components/Header/Header.module.css */
.header {
  position: fixed; /* 헤더를 상단에 고정 */
  top: 0;
  left: 0;
  width: 100%; /* 전체 너비 사용 */
  padding: 15px 20px;
  background-color: #282c34;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.header-content {
  display: flex;
  align-items: center;
  margin-left: auto; /* 오른쪽 정렬 */
  margin-right: 50px;
  gap: 10px; /* 요소 간 간격 */
}

.time-remaining {
  margin-right: 20px;
  font-weight: bold;
}

.logout-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-button:hover {
  background-color: #d32f2f;
}

.huserinfo {
  display: flex; /* 가로 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  color: rgb(255, 255, 255);
  padding: 4px 10px;
  border-radius: 50px;
  border: none;
  margin-right: 2px;
  font-size: 15px;
  font-weight: bold;
}

.iconhalfhuman {
  width: 20px; /* 아이콘 크기 */
  height: 20px;
  margin-right: 8px; /* 아이콘과 텍스트 간격 */
  fill: rgb(255, 255, 255);
}

.headename {
  white-space: nowrap; /* 줄바꿈 방지 */
  display: inline-block;
  text-align: center;
}

/*Logo*/
.logoCon {
  width: auto;
  padding: 0rem 0.6rem;
  cursor: pointer;
}
.iconub {
  font-size: 1.5rem;
  font-weight: bold;
  vertical-align: bottom;
  color: #f2f2f2;
  
}

.iconubi {
font-size: 1.3rem;
font-weight: bold;
vertical-align: bottom;
color: #f2f2f2;
}

.icons {
font-size: 1.5rem;
font-weight: bold;
color: #2F97F8;
vertical-align: bottom;
}
.iconsam {
font-size: 1.4rem;
font-weight: bold;
color: #2F97F8;
vertical-align: bottom;
}

.navbarLogoIcon {
background-color: #2F97F8;
color:white;
margin-bottom: 0.6rem;
}